@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--slider-width: 400px;
	--slider-height: 300px;
	--btns-filter: invert(53%) sepia(78%) saturate(433%) hue-rotate(352deg) brightness(88%) contrast(86%) drop-shadow(0 0 1px rgba(250, 235, 215, 0.5)) drop-shadow(0 0 1px rgba(250, 235, 215, 0.5)) drop-shadow(0 0 1px rgba(250, 235, 215, 0.5)) drop-shadow(0 0 1px rgba(250, 235, 215, 0.5));
}

* { 
	box-sizing: border-box; 
	margin: 0;
}

body {
  height: 100%;
  background-color: teal;
  color: #333;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: 0.15em;
  font-size: 22px;
}

.main {
	position: relative;
	row-gap: 20vmax;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.slider {
	position: relative;
  box-shadow: 3px 3px 10px rgba(0,0,0,.2); 
}

.wrapper {
	overflow-x: clip;
  position: relative;
  width: var(--slider-width);
	max-width: 100vw;
	filter: drop-shadow(0 0 5px rgba(100,0,0,0.25));
}

.selectors {
	position: absolute;
	width: fit-content;
	transform: translateX(-50%);
	left: 50%;
	top: -50px;
	font-size: 0.9rem;
	color: white;
	width: 100%;
}

.selectors label {
	padding-top: 3px;
}

.selectors select {
	min-width: 4.7rem;
	max-width: 6.5rem;
}
.selectors select:focus,
.selectors button:focus {
	outline: none;
}

.selectors button {
	height: 1.6rem;
	width: 1.6rem;
	border: transparent;
	background-color: orange; 
	font-size: 1.1rem;
	border-radius: 50%;
	padding: 0;
	color: white;
	cursor: pointer;

	-webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.selectors .noloop:hover {
	box-shadow: 0 0 10px 0 orange inset;
	border: none;
	color: orange;
}

.selectors .noloop {
	border: solid 1.5px grey;
	color: grey;
	background: transparent;
}

[data-carousel] {
  display: flex;
  position: relative;
  top: 0;
  left: calc(var(--slider-width)*-1);
	width: min-content;
}

[data-carousel].shifting {
  transition: left .25s ease-out;
}

[data-carousel] > * {
  width: var(--slider-width);
  height: var(--slider-height);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: relative;
  background: #93E9BE;
  border-radius: 2px;
	position: relative;
	font-size: clamp(0.6rem, calc(14px + 1vw), 18px);
	overflow: hidden;
}

ul, ol {
	list-style: none;
	margin-block-start: 0;
  margin-block-end: 0;
	padding-inline-start: 0;
}

[data-carousel] * img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.control {
  position: absolute;
  top: 50%;
	transform: translateY(-50%);
  width: 35px;
  height: 35px;
}

.prev, .next {
	background: transparent;
	border: 0;
  background-size: 12px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
	filter: var(--btns-filter);
	opacity: 0.87;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:active,
.next:active {
  transform: translateY(-50%) scale(.8);
}

/* .prev:focus, .next:focus {
	outline: none;
} */

.prev:hover,
.next:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.slider .dots {
	position: absolute;
	text-align: center;
	left: 50%;
	padding-top: 20px;
	transform: translateX(-50%);
	width: 90%;
}

.slider .dots div {
	width: 0.63rem;
	height: 0.63rem;
	max-width: 0.63rem;
	margin: 0 3px;
	display: inline-block;
	overflow: hidden;
	border-radius: 100%;
	background: rgba(170, 170, 170, 0.7);
}

.slider .dots div.active {
	background: orange;
	transform: scale(1.4);
}

.hidden {
	display: none;
}

@media (max-width: 992px) {
	.main {
		row-gap: 30vmax;
	}
	.prev:hover,
	.next:hover {
		filter: invert(53%) sepia(78%) saturate(433%) hue-rotate(352deg) brightness(88%) contrast(86%);
	}
}

@media (max-width: 789px) {
	[data-carousel] > * {
		font-size: clamp(0.1rem, calc(10px + 1vw), 18px);
	}
}

@media (max-width: 400px) {
	[data-carousel] > * {
		max-width: 100vw;
	}
}

@media (hover: none) and (pointer: coarse) {
	.prev:hover,
	.next:hover {
		filter: var(--btns-filter);
	}
	.prev, .next {
		-webkit-tap-highlight-color: transparent;
	}
}